<!DOCTYPE html>
<html>
<head>
  <title>Extface</title>
  <%= stylesheet_link_tag    "extface/application", media: "all" %>
  <%= javascript_include_tag "extface/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
