<ul class='nav nav-tabs'>
  <li class='active'><%= link_to t('.status'), '#status', data: { toggle: :tab } %></li>
  <li><%= link_to t('.reports'), '#reports', data: { toggle: :tab } %></li>
</ul>
<div class='tab-content'>
  <div class='tab-pane active' id='status'>
    Status Pane
  </div>
  <div class='tab-pane' id='reports'>
    Reports Pane
  </div>
</div>
